body{
    background-color: $white;
    color: $granite-gray;
    font-family: $raleway;
    font-size: $body_fs;
}

main{
    margin-top: 5.8125rem;
}

h1, h2, h3{
    color: $smoky-black;
    font-family: $old-standard;
    font-weight: 700;
}

h1{
    font-size: $xxx-large;
}