//Colores
$white: #fff;
$isabelline: #ececec;
$light-gray: #d1d1d1;
$quick-silver: #a6a5a8;
$granite-gray: #646266;
$smoky-black: #0c0910;

//Fonts
$old-standar: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

//font
$body_fs: 16px;
$xxx-large: 3.125rem;
$xx-large: 1.875rem;
$x-large: 1.25rem;
$large: 1.125rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;
