.bg-img{
    height: 60vh;
    width: 100%;
    background-image: url(../images/model.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

@media screen and (min-width: 768px){
    .bg-img{
        height: 100%;
    }
}